
.navbar{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    top:0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 1000;
    box-shadow: rgba(235, 233, 233, 0.4) 0px 10px 15px -3px, rgba(238, 237, 237, 0.05) 0px 4px 6px -2px;
}

.nav{
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    color: var(--primary-color);
    padding-inline: 4rem;
}

.nav p {
    font-family: var(--font-secondary);
    font-weight: 800;
    font-size: 1.5rem;
    line-height: 100%;
    letter-spacing: -1.5%;
    cursor: pointer;
}

.nav p span{
    background-color: var(--secondary-color);
    padding: 5px 15px;
    border-radius: 50%;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(1rem, 5vw, 2rem); 
}


.page .link{
    all:unset;
    font-family: var(--font-primary);
    font-weight: 600;
    font-size: 1rem;
    line-height: 100%;
    letter-spacing: -1.5%;
    padding: 0px;
    cursor: pointer;
    transition: color 0.3s ease; 
}

.page .contact {
    padding: 1rem 1.25rem;
    background-color: var(--secondary-color);
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    transform: translateY(0);
}

.page .contact:hover {
    background-color: var(--primary-color);
    color: var(--background-color);
    transform: translateY(-1px);
}

.burgur {
    display: none;
}

/* navbar.module.css */
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: rgb(210, 208, 208);
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
    z-index: 5;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    padding: 2rem 1rem;
  }
  
  .sidebar.open {
    transform: translateX(0);
  }
  

@media (max-width:768px){
    .nav{
        justify-content: space-between;
        padding-inline: 3rem;
    }

    .page {
        display: none;
    }
    
    .burgur {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap:0.5rem;
        z-index: 10;
    }
    
    .burgur .lineone {
        border: 2px solid var(--primary-color);
        width: 2.25rem;
    }
    
    .burgur .linetwo {
        border: 2px solid var(--primary-color);
        width: 2.25rem;
    }
    
    
}