.sidebar {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-block:3rem ;
}
.page {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    align-items: center;
    gap:3rem;
}

.page .link{
    all:unset;
    font-family: var(--font-primary);
    font-weight: 600;
    font-size: 1rem;
    line-height: 100%;
    letter-spacing: -1.5%;
    padding: 0px;
    cursor: pointer;
    color: var(--background-color);
}

.footerBottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .footerCopyright {
    font-size: 0.8rem;
    color: var(--background-color);
    margin-bottom: 0.5rem;
  }
  
  .footerLegal a {
    font-size: 0.8rem;
    color: #777777;
    margin-bottom: 0.5rem;
  }
  
  .footerLegal span {
    color: #777777;
  }
